.vscode

venv

__pycache__/
.coverage
coverage.xml

dist
build
*.egg-info
_build/

bazel-*

# Protos generatered files
tf_quant_finance/experimental/pricing_platform/instrument_protos/*_pb2.py
*_pb2.py